
.img {
  display: block;
  padding: 50px 50px;
  float: right;
}


.img img {
  max-width: 200px;
  width: 80%;
}

.ipsum {
  padding: 10px 30px;
}

.poop {
  padding-top: 60px;
  background-image: url("snare_right.png");
  background-repeat: no-repeat;
  background-position: right top;
  font-family: cursive;
  text-align: center;
}

jumboID {
  margin-top: 500px;
}
