
.img {
  display: block;
  padding: 50px 50px;
  float: right;
}


div.col-sm-3 img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.ipsum {
  padding: 10px 30px;
}

.poop {
  padding-top: 60px;
  background-image: url("snare_right.png");
  background-repeat: no-repeat;
  background-position: right top;
  font-family: cursive;
  text-align: center;
}

jumboID {
  margin-top: 500px;
}

body {
  background-image: url(light-blue-abstract.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.button {
  text-align: center;
}
